body {
  font-family: Helvetica;
  background-image: url(../candyimg.jpg) ;
  background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.header {
  text-align: center;
  background-color: rgba(255,255,255,0.9);
  padding: 20px;
  width: 90%;
  margin: 20px auto;
  border-radius: 3px;
  background-color: wheat;
}
.candies {
  text-align: center;
  margin: 0px auto;
  padding: 0px;
  width: 100%;
  list-style: none;
 
}

.item {
  display: inline-block;
  vertical-align: top;
/*   height: 100px; */
  background-color: rgba(255,255,255,0.9);
  border-radius: 3px;
  width: 20%;
  height: 200px;
  padding: 50px 20px;
  text-align: center;
  margin: 10px;
  background-color: lightgreen;
}

.available {
  color: black;
}

.sold-out {
  color: blue;
  text-decoration: line-through;
}

button {
  display: block;
  margin: 20px auto 0px auto;
}